import React from 'react';

interface {{componentName}}Props {
  className?: string;
}

export const {{componentName}} = ({
  className = '',
}: {{componentName}}Props) => {
  return (
    <div className={className}>
      {{componentName}}
    </div>
  );
};

export default {{componentName}};